// GLOBAL
//----------------------------------------------
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.l-page{
  @include container;
}

.l-top-bar,
.l-header,
.l-breadcrumb,
.l-featured,
.l-main,
.l-footer {
  @include clearfix;
}

// TOP BAR
//----------------------
.l-top-bar {
  padding: 10px 20px;
  background: $color-secondary;
  // line-height: 28px!important;
  a:link, a:visited, a:active, li a.active {
    color: #fff;
    &:hover {
      color: $color-accent;
    }
  }
}

// HEADER
//----------------------
.l-header {
  background: $color-primary;
  position: relative;
  padding-right: 20px;
  padding-left: 20px;
}

.l-branding {
  position: relative;
  float: left;
  z-index: 16;
}

.l-header-region {
  float: right;
}

// NAVIGATION
//----------------------
.l-navigation {
  position: relative;
  z-index: 8;
  overflow: visible;
}

// BREADCRUMB
//----------------------
.l-breadcrumb {}

// FEATURED
//----------------------
.l-featured {}

// MAIN
//----------------------
.l-main {
  margin-top: 20px;
  margin-bottom: 20px;
  .not-front & {
    @media (max-width: 1025px) {
      padding-right: 20px;
      padding-left: 20px;
    }
  }
}

// FOOTER COLUMNS
//----------------------
.l-footer-columns {
  background: $color-primary;
  &-item {
    padding: 20px 0;
  }
}

// FOOTER
//----------------------
.l-footer {
  background: $color-primary;
  padding: 20px;
  @include font-size(10px);
  color: #fff;

  h1.site-name,
  .nav-footer,
  .nav-social {
    @include clearfix;
    // clear: both;
  }

  a {
    color: $white;
    &:hover {
      color: $color-link-hover;
    }
  }

  @include breakpoint($m) {
    // h1.site-name,
    // .nav-footer,
    // .nav-social {
    //   clear: none;
    // }
    h1.site-name {
      @include span(3);
    }
    .nav-footer {
      @include span(6);
    }
    .nav-social {
      @include span(3);
      @include last;
    }

    .tec-copyright {
      @include span(3);
    }
    .telefonos {
      text-align: center;
      @include span(6);
    }
    .politcas {
      margin-top: 10px;
      text-align: right;
      @include span(3);
      @include last;
    }
  }

}

// BREAKPOINT SMALL
//----------------------------------------------
@media (max-width: 768px) {
  body.not-front .l-main {
    .page-title {
      margin-left: 15px;
    }
    .l-main-content {
      padding-left: 15px;
    }
  }
  body.page-node-2,
  body.page-node-3,
  body.page-node-4,
  body.page-node-5 {
    .l-main .page-title {
      margin-left: 0;
    }
    .l-main .l-main-content {
      padding-left: 0;
    }
  }
}

// BREAKPOINT MEDIUM
//----------------------------------------------
@include breakpoint($m) {
  .sidebar-first,
  .sidebar-second,
  .two-sidebars {
    .l-main-content {
      @include span(8);
    }
    .l-sidebar-first,
    .l-sidebar-second {
      @include span(last 4);
    }
    .l-sidebar-second {
      clear: right;
    }
  }
}

// BREAKPOINT LARGE
//----------------------------------------------
@include breakpoint($l) {
  .sidebar-first {
    .l-main-content {
      @include span(last 9);
    }
    .l-sidebar-first {
      @include span(3);
    }
  }

  .sidebar-second {
    .l-main-content {
      @include span(9);
    }
    .l-sidebar-second {
      @include span(last 3);
      clear: none;
    }
  }

  .two-sidebars {
    .l-main-content {
      @include span(6.2);
    }
    .l-sidebar-first,
    .l-sidebar-second {
      @include span(2.9);
    }
    .l-sidebar-second {
      @include last;
    }
  }
}
