.l-top-bar,
.l-header,
.l-featured,
.l-footer {
  width: 100%;
  clear: both;
}

@media (min-width:960px) {
  .l-footer-firstcolumn,
  .l-footer-secondcolumn {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%
  }
  .l-footer-thirdcolumn {
    width: 32.20339%;
    float: right;
    margin-right: 0
  }
}
