// SEARCH PAGE / SEARCH BLOCK
//----------------------------------------------
.search-form,
.block-search, #search-block-form {
  input[type="text"] {}
  input[type="submit"] {
    font-family: $icon;
    margin: 0 0 0 -24px;
    padding: 1px 0 0 0;
    border: none;
    background: none;
    color: $color-link;
    font-size: 10px;
    &:hover {
      color: $color-link-hover;
    }
  }
}

// SEARCH PAGE
//----------------------------------------------
.search-form {
  label {}
  input[type="text"] {}
  input[type="submit"] {
    &:hover {}
  }
}

// SEARCH BLOCK
//----------------------------------------------
.block-search, #search-block-form {
  float: right;
  input[type="text"] {}
  input[type="submit"] {
    &:hover {}
  }
  input[type=search] {
    background: rgba(255,255,255,0.2);
    border: solid 1px #808080 !important;
    color: $gray;
    height: 20px;
    width: 188px;
    font-size: 11px;
    a {
      color: #fff;
    }
  }
}

// SEARCH RESULTS
//----------------------------------------------
.page-search {
  h1.page-title {}
}
.search-result {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid $color-divider;
  strong {
    background: yellow;
  }
  h3.title {
    margin: 0;
    @include font-size(24px);
    font-weight: normal;
  }
}


// CHOSEN
//----------------------------------------------
.chosen-container-single .chosen-single {
  background: transparent;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  border-radius: 0;
}

// TOP BAR SEARCH
//----------------------------------------------

.l-top-bar {
  #search-block-form {
    input[type=search] {
      background: rgba(255,255,255,0.2);
      border: none !important;
      color: $white;
      height: 27px;
      width: 233px;
      font-size: 12px;
      font-style: italic;
      margin-right: 10px;
    }
    input[type="submit"] {
      font-family: $icon;
      margin: 0 0 3px -29px;
      padding: 1px 0 0 0;
      border: none;
      background: none;
      vertical-align: middle !important;
      color: $white;
      font-size: 11px;
    }
    .container-inline {
      display: table; /* Fallback IE<9 */
      display: -ms-flexbox;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      .form-item-search-block-form, .form-item {
        margin-bottom: 0;
        margin-top:0;
      }
    }
  }
}

@-moz-document url-prefix() {
  .l-top-bar {
    #search-block-form {
      input[type="submit"] {
        //margin: 0 0 0 0px;
      }
    }
  }
}


