* html .vertical-tabs {
  .form-type-textfield, .form-textarea-wrapper {
    width: 95%;
  }
}

div.vertical-tabs {
  min-height: 600px;
  margin: 1em 0 1em 15em;
  // border: 1px solid $color-divider;
  border: none;
  position: relative;
}

.vertical-tabs {
  ul {
    &.vertical-tabs-list {

      width: 15em;
      list-style: none;
      list-style-image: none;
      // border-top: 1px solid $color-divider;
      border: none;
      padding: 0;
      position: relative;
      margin: -1px 0 -1px -15em;
      float: left;

      li {
        background: #eee;
        // border: 1px solid $color-divider;
        border: none;
        border-top: 0;
        padding: 0;
        margin: 0;
        min-width: 0;

        a {
          display: block;
          text-decoration: none;
          padding: 0.5em 0.6em;

          &:focus strong, &:active strong {
            text-decoration: underline;
          }

          &:hover {
            strong {
              text-decoration: underline;
            }

            outline: 1px dotted;
          }
        }

        &.selected {
          background-color: #fff;
          border-right-width: 0;
        }
      }

      .selected strong {
        color: #000;
      }

      .summary {
        display: block;
      }
    }

    &.vertical-tabs ul.vertical-tabs-list .summary {
      line-height: normal;
      margin-bottom: 0;
    }
  }

  fieldset.vertical-tabs-pane {
    margin: 0 !important;
    padding: 0 1em;
    border: 0;

    legend {
      display: none;
    }

    fieldset legend {
      display: block;
    }
  }

  .form-type-textfield input {
    width: 100%;
    box-sizing: border-box;
  }
}
