// EU Cookie Compliance
//----------------------------------------------

#sliding-popup {
  min-height: 120px;
  padding: 24px 0 12px 0;
  border-top: 1px solid #e6e6e6;
  box-shadow: none;
}

#sliding-popup .popup-content {
  width: 100%;
  max-width: 1064px;
  padding: 0 20px;
}

#sliding-popup .popup-content #popup-text {
  h2, p {
    font-weight: 400;
  }
  h2 {
    @include font-size(13px);
    color: $tec-blue-light !important;
  }
  p {
    @include font-size(12px);
    color: #808080 !important;
  }
}

#sliding-popup .popup-content #popup-buttons {
}

#sliding-popup .popup-content #popup-buttons button {
  @include font-size(12px);
  font-weight: 300;
  box-shadow: none;
  border: solid 1px $tec-blue-light;
  border-radius: 2px;
  background: transparent;
  color: $tec-blue-light;
  transition: all 250ms ease-in-out;
  text-shadow: none;
  &:hover {
    cursor: pointer;
    background: $tec-blue-light;
    color: #fff;
  }
  &:active {
  }
}

.sliding-popup-top {
}

.sliding-popup-bottom {
}
