.view-view-locations {

  .accordion-body {
    @include clearfix;
  }


  .group-right {

    .field-img-main{
      text-align: center;
    }

    .address_info_wrapper{
      background: $silver;
      padding: 10px;
    }

    .address_info{
      background: $white;
      padding: 20px;
    }
  }

  @include breakpoint($l){
    .group-left {
      @include span(6);
      float: left;
      display: inline-block;
    }
    .group-right {
      @include span(last 6);
      display: inline-block;
      float: right;
    }
  }

}


// TABS PAGE VIDEOS
//----------------------------------------------

.page-videos {

  .views-exposed-widget {
    margin: 20px 0;
    .views-widget-filter-keys,
    .views-submit-button {
      margin: 0;
      padding: 0;
    }
    input[type=text] {
      @include font-size(16px);
      line-height: 32px;
    }
  }


  ul.tabs.primary {
    margin: 40px 0;
    padding: 0;
    border-bottom: 2px solid $viral;
    display: flex;
    justify-content: space-between;
    list-style: none;
    list-style-image: none;
    li {
      flex: 0 1 span(2);
      text-align: center;
      background-color: #f2f2f2;
      padding: 10px 0;
      transition: all 250ms ease-in-out;
      &:hover {
        background-color: $viral;
        color: $white;
      }
      &.active {
        background-color: $viral;
        border-bottom: 2px solid $viral;
        a {
          background-color: transparent;
          color: $white;
        }
      }
      a {
        margin: 0;
        padding: 0;
        border: 0 none;
        width: 100%;
        background-color: transparent;
        color: #4e4e4e;
        @include font-size(14px);
        &:hover {
          color: $white;
        }
      }
    }
  }

}
