// FAQ
//----------------------------------------------

.paragraphs-item-paragraph-faq {

  border: 1px solid $silver;
  margin: 0;

  .field-text-paragraph-title {
    background-color: $silver;
    margin: 0;
    padding: 10px;
    @include font-size(14px);
    text-transform: uppercase;
    font-weight: 500;
    color: $tec-blue;
  }

  .field-faq {
    .faqfield-question {
      border: 1px solid $silver;
      border-top: none;
      border-left: none;
      border-right: none;
      border-radius: 0;
      margin-left: 10px;
      margin-right: 10px;
      padding: 10px;
      font-style: italic;
      @include icon-before(dropdown_more);
      background: none;
      a {
        display: inline;
        padding: 0;
        color: #333;
        @include font-size(14px);
      }
      &.ui-state-active {
        @include icon-before(dropdown_minus);
        border-bottom: none;
      }
      &:before {
        margin-right: 10px;
        color: $tec-blue-light;
      }
      &:hover {
        cursor: pointer;
        a {
          color: #333;
        }
      }
      .ui-icon {
        display: none;
      }
    }

    .faqfield-answer {
      font-family: Roboto, sans-serif;
      height: auto !important;
      margin: 0 15px 10px 15px;
      padding-bottom: 10px;
      border: none;
      border-radius: 0;
      border-bottom: 1px solid $silver;
      @include font-size(12px);
      p {
        margin: 0;
        color: #808080;
      }
    }
  }
}
