#carousel-container {
  background-color: $white;
  width: 100%;
  height: 330px;
  overflow: hidden;
  left: 0;
  position: relative;
  .caroufredsel_wrapper {
    display: block;
    text-align: start;
    float: none;
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    z-index: auto;
    width: 100%;
    height: 280px;
    margin: 0px;
    overflow: hidden;
  }
  .default-shadow-prev {
    left: 0px;
    top: 0;
    position: absolute;
    background: $c-shadow;
    opacity: 0.8;
    filter: alpha(opacity=80);
    height: 280px;
    width: 121px;
  }
  .default-shadow-next {
    right: 0px;
    top: 0;
    position: absolute;
    background: $c-shadow;
    opacity: 0.8;
    filter: alpha(opacity=80);
    height: 280px;
    width: 121px;
  }
}

#carousel {
  text-align: left;
  float: none;
  position: absolute;
  top: 0px;
  right: auto;
  bottom: auto;
  left: 0px;
  margin: 0px;
  width: 7288px;
  height: 280px;
  z-index: auto;
  background: gray;
  .carousel-image-info-container {
    float: left;
    width: 364px;
    height: 280px;
    background: $c-info;
    display: block;
    padding-top: 14px;
    margin-left: 104px;
    .title-carousel-news h1 {
      font-size: 22px;
      line-height: 26px;
      color: white;
      font-family: Roboto;
      font-weight: 400;
      text-align: left;
      margin-left: 20px;
      margin-top: 40px;
      padding-right: 100px;
    }
    .sumary-carousel-news p {
      font-weight: 300;
      font-size: 14px;
      line-height: 18px;
      color: white;
      text-align: left;
      margin-left: 20px;
      padding-right: 100px;
    }
  }
  .carousel-image {
    background-color: black;
    display: block;
    float: left;
    width: 419px;
    height: 280px;
  }
}

#pager {
  position: absolute;
  left: 50%;
  bottom: 20px;
  a {
    &.selected {
      background-color: $tec-red;
    }
    background-color: #4A4A4A;
    border-radius: 10px;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px 0 0;
    text-decoration: none;
    span {
      display: none;
    }
  }
}

// ----------------------------- //
.categories-section {
  // display: block;
  // width: 61.26%;
  // margin-left: 5%;
  // margin-right: 0;
  // min-height: 57.63em;
  // max-width: 1000px;
}

.video-section-container {
  position: relative;
  // margin-top: .6rem;
  margin-right: 1.6%;
  margin-bottom: .6rem;
  margin-left: 0;
  height: 298px;
  width: 48.4%;
  display: block;
  float: left;
  clear: left;
  max-width: inherit;
  min-height: 11rem;
  background-color: white;
  border-bottom: solid 1px $silver;
  border-left: solid 1px $silver;
  border-right: solid 1px $silver;
  .video-section-header {
    height: 9px;
    background-color: $viral;
  }
  .video-container {
    .video-section-title {
      font-size: 16px;
      display: block;
      width: 90%;
      margin-top: 10px;
      margin-right: auto;
      margin-left: auto;
      max-width: 600px;
      font-style: italic;
      text-align: left;
      color: #140c3a;
    }
    .video {
      float: none;
      display: block;
      width: 94.52%;
      margin-left: 3.04%;
      min-height: 10.5rem;
      max-width: 768px;
    }
    .video-description {
      width: 90%;
      margin-top: 4px;
      margin-right: auto;
      margin-bottom: 12px;
      margin-left: auto;
      font-weight: 400;
      font-size: 13px;
      line-height: 16px;
      text-align: left;
      color: #140c3a;
    }
  }
  .video-seemore {
      display: block;
      position: absolute;
      left: 100%;
      top: 100%;
      width: 12.05%;
      height: 22px;
      transform: translate(-100%, -100%);
      background-color: $viral;
      min-height: 1.23em;
      p {
        float: none;
        display: block;
        width: 100%;
        height: 2px;
        font-weight: 400;
        font-size: 22px;
        text-align: center;
        margin-top: -0.1rem;
        margin-right: 0;
        margin-bottom: 0;
        margin-left: .1%;
        color: white;
        max-width: 600px;
      }
  }
}

.formalities-section-container {
  position: relative;
  // margin-top: .6rem;
  margin-right: 0;
  margin-bottom: .6rem;
  margin-left: 1.6%;
  width: 48.4%;
  height: 298px;
  display: block;
  float: right;
  clear: right;
  max-width: inherit;
  min-height: 11em;
  background-color: white;
  border-bottom: solid 1px $silver;
  border-left: solid 1px $silver;
  border-right: solid 1px $silver;
  .formalities-section-header {
    float: none;
    display: block;
    width: 100%;
    height: 9px;
    margin-right: auto;
    margin-left: auto;
    background-color: $formalities;
    min-height: .63em;
  }
  .formalities-section {
    h1 {
      font-size: 18px;
      text-align: left;
      color: #140e39;
      display: block;
      width: 90%;
      margin-top: 16px;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 0;
      max-width: 600px;
    }
    .formalities-container {
      .formalities-list li {
        color: $silver;
        margin-bottom: 8px;
        a {
          color: #140c3a;
          font-weight: 400;
          font-size: 13px;
          line-height: 9px;
          text-align: left;
        }
      }
    }
  }
  .formalities-seemore {
    display: block;
    position: absolute;
    left: 100%;
    top: 100%;
    transform: translate(-100%, -100%);
    float: none;
    width: 12.05%;
    height: 22px;
    background-color: $formalities;
    min-height: 1.23em;
    p {
      float: none;
      display: block;
      width: 100%;
      height: 2px;
      font-weight: 400;
      font-size: 22px;
      text-align: center;
      margin-top: -0.1rem;
      margin-right: 0;
      margin-bottom: 0;
      margin-left: .1%;
      color: white;
      max-width: 600px;
    }
  }
}

.services-section-container {
  position: relative;
  margin-top: .6rem;
  margin-right: 1.6%;
  margin-bottom: .6rem;
  margin-left: 0;
  width: 48.4%;
  display: block;
  float: left;
  clear: left;
  max-width: inherit;
  min-height: 193px;
  border-bottom: solid 1px $silver;
  border-left: solid 1px $silver;
  border-right: solid 1px $silver;
  .services-section-header {
    float: none;
    display: block;
    width: 100%;
    height: 9px;
    margin-right: auto;
    margin-left: auto;
    background-color: $services;
    min-height: .63em;
  }
  .services-section {
    h1 {
      font-size: 18px;
      text-align: left;
      color: #140e39;
      display: block;
      width: 90%;
      margin-top: 16px;
      margin-right: auto;
      margin-left: auto;
      max-width: 600px;
    }
    .services-container {
      .services-list li {
        color: $silver;
        margin-bottom: 8px;
        a {
          color: #140c3a;
          font-weight: 400;
          font-size: 13px;
          line-height: 9px;
          text-align: left;
        }
      }
    }
  }
  .services-seemore {
    display: block;
    position: absolute;
    width: 12.05%;
    height: 22px;
    left: 100%;
    top: 100%;
    transform: translate(-100%, -100%);
    background-color: $services;
    min-height: 1.23em;
    p {
      float: none;
      display: block;
      width: 100%;
      height: 2px;
      font-weight: 400;
      font-size: 22px;
      text-align: center;
      margin-top: -0.1rem;
      margin-right: 0;
      margin-bottom: 0;
      margin-left: .1%;
      color: white;
      max-width: 600px;
    }
  }
}

.academicOffer-section-container {
  display: block;
  position: relative;
  margin-top: .6rem;
  margin-right: 0;
  margin-bottom: .6rem;
  margin-left: 1.6%;
  width: 48.4%;
  float: right;
  clear: right;
  max-width: inherit;
  min-height: 193px;
  border-bottom: solid 1px $silver;
  border-left: solid 1px $silver;
  border-right: solid 1px $silver;
  .academicOffer-section-header {
    float: none;
    display: block;
    width: 100%;
    height: 9px;
    margin-right: auto;
    margin-left: auto;
    background-color: $academic-offer;
    min-height: .63em;
  }
  .academicOffer-section {
    h1 {
      font-size: 18px;
      text-align: left;
      color: #140e39;
      display: block;
      width: 90%;
      margin-top: 16px;
      margin-right: auto;
      margin-left: auto;
      max-width: 600px;
    }
    .academicOffer-container {
      .academicOffer-list li {
        color: $silver;
        margin-bottom: 8px;
        a {
          color: #140c3a;
          font-weight: 400;
          font-size: 13px;
          line-height: 9px;
          text-align: left;
        }
      }
    }
  }
  .academicOffer-seemore {
    position: absolute;
    float: none;
    display: block;
    width: 12.05%;
    height: 22px;
    left: 100%;
    top: 100%;
    transform: translate(-100%, -100%);
    background-color: $academic-offer;
    min-height: 1.23em;
    p {
      float: none;
      display: block;
      width: 100%;
      height: 2px;
      font-weight: 400;
      font-size: 22px;
      text-align: center;
      margin-top: -0.1rem;
      margin-right: 0;
      margin-bottom: 0;
      margin-left: .1%;
      color: white;
      max-width: 600px;
    }
  }
}

.connection-section-container {
  display: block;
  position: relative;
  margin-top: .6rem;
  margin-right: 1.6%;
  margin-bottom: .6rem;
  margin-left: 0;
  width: 48.4%;
  float: left;
  clear: left;
  max-width: inherit;
  min-height: 207px;
  border-bottom: solid 1px $silver;
  border-left: solid 1px $silver;
  border-right: solid 1px $silver;
  .connection-section-header {
    float: none;
    display: block;
    width: 100%;
    height: 9px;
    margin-right: auto;
    margin-left: auto;
    background-color: $connection;
    min-height: .63em;
  }
  .connection-section {
    h1 {
      font-size: 18px;
      text-align: left;
      color: #140e39;
      display: block;
      width: 90%;
      margin-top: 16px;
      margin-right: auto;
      margin-left: auto;
      max-width: 600px;
    }
    .connection-container {
      .connection-list li {
        color: $silver;
        margin-bottom: 8px;
        a {
          color: #140c3a;
          font-weight: 400;
          font-size: 13px;
          line-height: 9px;
          text-align: left;
        }
      }
    }
  }
  .connection-seemore {
    position: absolute;
    display: block;
    width: 12.05%;
    height: 22px;
    left: 100%;
    top: 100%;
    transform: translate(-100%, -100%);
    background-color: $connection;
    min-height: 1.23em;
    p {
      float: none;
      display: block;
      width: 100%;
      height: 2px;
      font-weight: 400;
      font-size: 22px;
      text-align: center;
      margin-top: -0.1rem;
      margin-right: 0;
      margin-bottom: 0;
      margin-left: .1%;
      color: white;
      max-width: 600px;
    }
  }
}

.publication-section-container {
  position: relative;
  display: block;
  margin-top: .6rem;
  margin-right: 0;
  margin-bottom: .6rem;
  margin-left: 1.6%;
  width: 48.4%;
  float: right;
  clear: right;
  max-width: inherit;
  min-height: 207px;
  border-bottom: solid 1px $silver;
  border-left: solid 1px $silver;
  border-right: solid 1px $silver;
  .publication-section-header {
    float: none;
    display: block;
    width: 100%;
    height: 9px;
    margin-right: auto;
    margin-left: auto;
    background-color: $publications;
    min-height: .63em;
  }
  .publication-section {
    h1 {
      font-size: 18px;
      text-align: left;
      color: #140e39;
      display: block;
      width: 90%;
      margin-top: 16px;
      margin-right: auto;
      margin-left: auto;
      max-width: 600px;
    }
    .publication-container {
      .publication-list li {
        color: $silver;
        margin-bottom: 8px;
        a {
          color: #140c3a;
          font-weight: 400;
          font-size: 13px;
          line-height: 9px;
          text-align: left;
        }
      }
    }
  }
  .publication-seemore {
    position: absolute;
    display: block;
    width: 12.05%;
    height: 22px;
    left: 100%;
    top: 100%;
    transform: translate(-100%, -100%);
    background-color: $publications;
    min-height: 1.23em;
    p {
      float: none;
      display: block;
      width: 100%;
      height: 2px;
      font-weight: 400;
      font-size: 22px;
      text-align: center;
      margin-top: -0.1rem;
      margin-right: 0;
      margin-bottom: 0;
      margin-left: .1%;
      color: white;
      max-width: 600px;
    }
  }
}

.audiovisual-section-container {
  position: relative;
  display: block;
  margin-top: .6rem;
  margin-right: 1.6%;
  margin-bottom: .6rem;
  margin-left: 0;
  width: 48.4%;
  float: left;
  clear: left;
  max-width: inherit;
  min-height: 11rem;
  border-bottom: solid 1px $silver;
  border-left: solid 1px $silver;
  border-right: solid 1px $silver;
  .audiovisual-section-header {
    float: none;
    display: block;
    width: 100%;
    height: 9px;
    margin-right: auto;
    margin-left: auto;
    background-color: $audiovisual;
    min-height: .63em;
  }
  .audiovisual-section {
    h1 {
      font-size: 18px;
      text-align: left;
      color: #140e39;
      display: block;
      width: 90%;
      margin-top: 16px;
      margin-right: auto;
      margin-left: auto;
      max-width: 600px;
    }
    .audiovisual-container {
      .audiovisual-list li {
        color: $silver;
        margin-bottom: 8px;
        a {
          color: #140c3a;
          font-weight: 400;
          font-size: 13px;
          line-height: 9px;
          text-align: left;
        }
      }
    }
  }
  .audiovisual-seemore {
    position: absolute;
    display: block;
    width: 12.05%;
    height: 22px;
    left: 100%;
    top: 100%;
    transform: translate(-100%, -100%);
    background-color: $audiovisual;
    min-height: 1.23em;
    p {
      float: none;
      display: block;
      width: 100%;
      height: 2px;
      font-weight: 400;
      font-size: 22px;
      text-align: center;
      margin-top: -0.1rem;
      margin-right: 0;
      margin-bottom: 0;
      margin-left: .1%;
      color: white;
      max-width: 600px;
    }
  }
}

.links-section-container {
  position: relative;
  display: block;
  margin-top: .6rem;
  margin-right: 0;
  margin-bottom: .6rem;
  margin-left: 1.6%;
  width: 48.4%;
  float: right;
  clear: right;
  max-width: inherit;
  min-height: 11rem;
  border-bottom: solid 1px $silver;
  border-left: solid 1px $silver;
  border-right: solid 1px $silver;
  .links-section-header {
    float: none;
    display: block;
    width: 100%;
    height: 9px;
    margin-right: auto;
    margin-left: auto;
    background-color: $links;
    min-height: .63em;
  }
  .links-section {
    h1 {
      font-size: 18px;
      text-align: left;
      color: #140e39;
      display: block;
      width: 90%;
      margin-top: 16px;
      margin-right: auto;
      margin-left: auto;
      max-width: 600px;
    }
    .links-container {
      .links-list li {
        color: $silver;
        margin-bottom: 8px;
        a {
          color: #140c3a;
          font-weight: 400;
          font-size: 13px;
          line-height: 9px;
          text-align: left;
        }
      }
    }
  }
  .links-seemore {
    position: absolute;
    display: block;
    width: 12.05%;
    height: 22px;
    left: 100%;
    top: 100%;
    transform: translate(-100%, -100%);
    background-color: $links;
    min-height: 1.23em;
    p {
      float: none;
      display: block;
      width: 100%;
      height: 2px;
      font-weight: 400;
      font-size: 22px;
      text-align: center;
      margin-top: -0.1rem;
      margin-right: 0;
      margin-bottom: 0;
      margin-left: .1%;
      color: white;
      max-width: 600px;
    }
  }
}

// ----------------------------- //
.sidebar-section {
  display: block;
  // width: 26.84%;
  // margin-left: 68.24%;
  // margin-right: 0;
  // margin-top: 0;
  // min-height: 32.56em;
}

.news-section-container {
  position: relative;
  display: block;
  margin-right: 0;
  margin-bottom: .6rem;
  margin-left: 1.6%;
  width: 100%;
  height: 510px;
  float: right;
  clear: right;
  max-width: inherit;
  min-height: 12em;
  border-bottom: solid 1px $silver;
  border-left: solid 1px $silver;
  border-right: solid 1px $silver;
  .news-section-header {
    float: none;
    display: block;
    width: 100%;
    height: 9px;
    margin-right: auto;
    margin-left: auto;
    background-color: $news;
    min-height: .63em;
  }
  .news-section {
    h1 {
      font-size: 18px;
      text-align: left;
      color: #140e39;
      display: block;
      width: 90%;
      margin-top: 16px;
      margin-right: auto;
      margin-left: auto;
      max-width: 600px;
    }
    .news-container {
      .news-list {
        .new {
          display: block;
          width: 90%;
          margin-top: 15px;
          margin-right: auto;
          margin-left: auto;
          padding-bottom: 15px;
          max-width: 600px;
          border-bottom: solid 1px $silver;
          .new-text {
            color: #140e3a;
            font-weight: 400;
            font-size: 13px;
            line-height: 16px;
            text-align: left;
          }
          .new-date {
            margin-top: 2px;
            color: $c-shadow;
            font-weight: 400;
            font-style: oblique;
            font-size: 11px;
            text-align: left;
          }
        }
      }
    }
  }
  .news-seemore {
    position: absolute;
    display: block;
    width: 12.12%;
    height: 22px;
    left: 100%;
    top: 100%;
    transform: translate(-100%, -100%);
    background-color: $news;
    min-height: 1.23em;
    p {
      float: none;
      display: block;
      width: 100%;
      height: 2px;
      font-weight: 400;
      font-size: 22px;
      text-align: center;
      margin-top: -0.1rem;
      margin-right: 0;
      margin-bottom: 0;
      margin-left: .1%;
      color: white;
      max-width: 600px;
    }
  }
}

.events-section-container {
  position: relative;
  display: block;
  margin-right: 0;
  margin-bottom: .6rem;
  margin-left: 1.6%;
  width: 100%;
  height: 395px;
  float: right;
  clear: right;
  max-width: inherit;
  min-height: 12em;
  border-bottom: solid 1px $silver;
  border-left: solid 1px $silver;
  border-right: solid 1px $silver;
  .events-section-header {
    float: none;
    display: block;
    width: 100%;
    height: 9px;
    margin-right: auto;
    margin-left: auto;
    background-color: $events;
    min-height: .63em;
  }
  .events-section {
    h1 {
      font-size: 18px;
      text-align: left;
      color: #140e39;
      display: block;
      width: 90%;
      margin-top: 16px;
      margin-right: auto;
      margin-left: auto;
      max-width: 600px;
    }
    .events-container {
      .events-list {
        .event {
          display: block;
          width: 90%;
          margin-top: 15px;
          margin-right: auto;
          margin-left: auto;
          padding-bottom: 15px;
          max-width: 600px;
          border-bottom: solid 1px $silver;
          .event-text {
            color: #140e3a;
            font-weight: 400;
            font-size: 13px;
            line-height: 16px;
            text-align: left;
          }
          .event-date {
            margin-top: 2px;
            color: $c-shadow;
            font-weight: 400;
            font-style: oblique;
            font-size: 11px;
            text-align: left;
          }
        }
      }
    }
  }
  .events-seemore {
    position: absolute;
    display: block;
    width: 12.12%;
    height: 22px;
    left: 100%;
    top: 100%;
    transform: translate(-100%, -100%);
    background-color: $events;
    min-height: 1.23em;
    p {
      float: none;
      display: block;
      width: 100%;
      height: 2px;
      font-weight: 400;
      font-size: 22px;
      text-align: center;
      margin-top: -0.1rem;
      margin-right: 0;
      margin-bottom: 0;
      margin-left: .1%;
      color: white;
      max-width: 600px;
    }
  }
}




