// CONTACTS
//----------------------------------------------

.v-contacts {

  font-size: 80%;

  .views-exposed-widget {
    @include breakpoint($m) {
      //@include span(3 split);
    }
  }

  td {
    &.title,
    &.unit {min-width: 180px}

    &.title {}
    &.name-title {}
    &.name-first {}
    &.name-last {}
    &.unit {}
    &.telephone {}
    &.email {}
  }

}


.page-node-8213 {

  .field-parg-additional-info {

    &:first-child {

      .ui-accordion-content {
        &:first-child {
          p {
            &:nth-child(2) {
              @include icon-before(phone);
            }
            &:nth-child(3) {
              @include icon-before(webwindow);
            }
          }
        }

        &:nth-child(2) {
          p {
            &:nth-child(2) {
              @include icon-before(phone);
            }
            &:nth-child(3) {
              @include icon-before(fax);
            }
            &:nth-child(4) {
              @include icon-before(webwindow);
            }
          }
        }

        &:nth-child(3) {
          p:nth-child(2) {
            @include icon-before(phone);
          }
        }

        &:nth-child(4) {
          p:nth-child(2) {
            @include icon-before(phone);
          }
        }

        &:nth-child(5) {
          p:nth-child(2) {
            @include icon-before(phone);
          }
        }
      }

    }

    &:nth-child(2) {

      .ui-accordion-content {
        &:first-child {
          p:nth-child(2) {
            @include icon-before(phone);
          }
          p:nth-child(3) {
            @include icon-before(fax);
          }
        }

        &:nth-child(2) {
          p:nth-child(2) {
            @include icon-before(phone);
          }
        }
      }
    }
  }

}


// Contact's Staff Relations on Node Page
// _____________________________

.v-staff-relations-contact {
  h3.unit {
    font-weight: 300;
  }
  .type {
    @include font-size(12px);
  }
  .rol {
    @include font-size(14px);
    font-style: italic;
  }
  .telephone,
  .email,
  .campus {
    @include font-size(14px);
    padding: 4px 0;
    &:before {
      margin-right: 10px;
    }
  }
  .telephone {
    @include icon-before(phone);
  }
  .email {
    @include icon-before(email);
  }
  .campus {
    @include icon-before(location);
  }
}
