// PROJECT
//----------------------------------------------

.v-grid {

  .views-exposed-widget {
    margin: 0 20px 20px 0;
  }

  input[type="text"] {
    border: 1px solid $darkgrey;
  }

  .views-reset-button {
    //margin-top: 12px;
  }

  .views-row {

    margin-bottom: 20px;

    // min-height: 440px;
    border: 1px solid $silver;
    background-color: #f2f2f2;

    figure img {
      width: 100%;
    }


    .title {
        @include font-size(15px);
        text-transform: uppercase;
        margin: 5px 10px;

        a {
          color: $tec-blue;
          &:hover {
            color: $color-link-hover;
          }
        }
      }

    .coordinator {
        color: $tec-gray;
        @include font-size(12px);
        margin: 10px 10px 0px 10px;
        a {
          color: $tec-gray;
        }
      }

    .date {
        @include font-size(11px);
        font-weight: 300;
        margin: 0 10px;
        color: #808080;
        font-style: italic;
        }

    .description {
        color: $tec-gray;
        @include font-size(12px);
        margin: 10px 10px;
      }

    @include breakpoint($s) {
      @include gallery(6);
    }

    @include breakpoint($l) {
      @include gallery(4);
    }
  }

  .pager {
    text-align: center !important;
  }

}

.main-content-fixed-width {
  @include breakpoint($l) {
    @include span(9);
  }
}
