// NEWS DIRECTORY
//----------------------------------------------

.pane-news-news-directory-panel-pane-3 {

  .pane-title a {
    text-transform: uppercase;
    @include font-size(20px);
  }

  .v-last-new {

    margin: 0 0 40px 0;

    .title a {
      text-align: left;
      display: block;
      margin: 10px 0 0 0;
      @include font-size(16px);
      color: $black;
      &:hover {
        color: $color-link-hover;
      }
    }

    figure a img {
      width: 100%;
    }
  }
}

.v-news-directory, .v-events-directory {

  .views-row {

    min-height: 400px;
    margin-bottom: 10px;

    .title {
      display: block;
      margin: 10px 0 0 10px;
      a {
        @include font-size(16px);
        color: $black;
        &:hover {
          color: $color-link-hover;
        }
      }
    }

    .date {
      @include font-size(12px);
      margin: 5px 0 0 10px;
      color: $gray;
      font-style: italic;
    }

    .description {
      @include font-size(14px);
      margin: 0 0 0 10px;
    }

    @include breakpoint($s) {
      @include gallery(8);
    }

    @include breakpoint($l) {
      @include gallery(6);
    }
  }

  .pager {
    text-align: center !important;
  }

}

.v-events-directory {

  .views-row {
    border: 1px solid $silver;
    min-height: 200px;
    height: 200px;
  }

  .event-date {
    text-transform: uppercase;
    font-weight: 500;
    width: 45px;
    margin: -2px 0 0 10px;
    padding: 5px;
    @include font-size(14px);
    font-style: italic;
    text-align: center;
    background-color: $tec-blue-light;
    color: $white;
  }

  .event-title {
    display: block;
    margin: -20px 20px 0 70px;
    line-height: 0.8;

    a {
      @include font-size(16px);
      color: $tec-blue;
      &:hover {
        color: $color-link-hover;
      }
    }

  }

  .event-description {
    color: $tec-gray;
    clear: none;
    @include font-size(14px);
    margin: 30px 0 0 70px;
    width: 70%;
  }

  figure a img {
    width: 30%;
    position: relative;
    float: right;
    right: 20px;
    bottom: 60px;
  }

  .pager {
    border-top: none !important;
  }

}

.v-news-directory {
  figure a img {
    width: 100%;
  }
}






