// RESEARCH AND EXTENSION
//----------------------------------------------
.view-research {

  .views-exposed-widget {
    margin: 0 20px 20px 0;
  }

  input[type="text"] {
    border: 1px solid $darkgrey;
  }

  .views-reset-button {
    margin-top: 12px;
  }

  .views-row {

    min-height: 450px;
    //border: 1px solid $darkgrey;
    margin-bottom: 20px;

    .title {
      display: block;
      margin: 10px 10px 0 10px;
    }

    .coordinator {
      @include font-size(14px);
      margin: 10px 0 0 10px;
    }

    .date {
      @include font-size(13px);
      padding: 10px 0;
      margin: 0 0 0 10px;
    }

    .description {
      @include font-size(14px);
      margin: 15px 0 0 10px;
      padding: 0 15px 15px 0;
    }

    @include breakpoint($s) {
      @include gallery(6);
    }

    @include breakpoint($m) {
      @include gallery(4);
    }
  }

  .pager {
    text-align: center !important;
  }
}

// Consolidated researchers
.pane-directory-researchers-vie-panel-pane-2 {
  .views-row {
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px 0;
    border-bottom: 1px solid #e6e6e6;
  }
  a {
    color: $black;
    &:hover {
    }
  }
  h3.name {
    @include font-size(12px);
    font-weight: 500;
  }
  .unit {
    @include font-size(12px);
  }
}

// RESEARCH PROJECT SITES
//----------------------------------------------
.node-type-subsite-project {
  //Additional informartion accordion style
  //.accordion-wrapper3
  .paragraphs-items-field-parg-additional-info {

    background-color: $silver;
    margin-top: 5px;
    margin-bottom: 15px;

    //.accordion-item {
    .field-parg-additional-info {

      &:first-child {
        //margin-top: 10px;
        border-top: 10px solid $silver;
      }

      &:last-child {
        //margin-bottom: 10px;
        border-bottom: 10px solid $silver;
        &:after {
          border-bottom: none;
        }
      }

      //.accordion-item {
      .entity-paragraphs-item {
        position: relative;
        background-color: $white;
        margin: 0 10px;

        &:after {
          content:"";
          position: absolute;
          border-bottom: 1px solid $silver;
          bottom: 0;
          left: 1%;
          width: 98%;
        }

        //.accordion-title {
        .field-text-paragraph-title {
          text-transform: uppercase;
          @include font-size(14px);
          color: $tec-blue;
          font-weight: 400;
          margin: 0;
          padding: 10px;
          @include icon-before(accordion_arrow);

          &:before {
            vertical-align: middle !important;
            margin-top: -3px;
            @include font-size(8px);
            margin-right: 10px;
            color: #808080;
          }

          &:hover {
            cursor: pointer;
          }

        }

        .active {
          @include icon-before(accordion_arrow2);
        }

        //.accordion-body {
        .field-text-paragraph-body {
          margin: 0 15px 0 15px;
          padding: 0 0 15px 0;
          @include font-size(16px);
          color: $tec-gray;
          background-color: $white;
          overflow: hidden;

          .entity-paragraphs-item {
            margin: 0;
          }

          .field-text-paragraph-title {
            @include font-size(18px);
            margin-top: 10px;
            margin-bottom: 10px;
          }
        }
      }
    }
  }

  .pane-node-field-video-embed {
    .video-embed-description {
      @include font-size(12px);
      margin-left: 5%;
      margin-right: 5%;
      padding: 10px 0;
    }
  }
}

.view-objectives-per-research-project-site {
  .label {
    display: block;
    margin-top: 25px;
    margin-bottom: 10px;
    &:first-child{
      margin-top: 0;
    }
  }
  .field-eref-document {
    h1 {
      background-color: $silver;
      margin: 0;
      padding: 10px;
      @include font-size(14px);
      text-transform: uppercase;
      font-weight: 500;
      color: $tec-blue;
      a {
        color: $black;
        &:hover {
          color: $color-link-hover;
        }
      }
    }
    .content .field-file-document {
      background-color: $white;
      border: 1px solid $silver;
      padding: 10px;
      .file-icon {
        display: inline;
      }
    }
  }
}
