// VIEWS EXPOSED FILTERS
//----------------------------------------------
.views-exposed-widgets {
  margin: 0;
  input[type="text"] {
    width: 188px;
    height: 20px;
    @include font-size(11px);
    font-weight: 300;
    font-style: italic;
    color: $gray;
    &::-webkit-input-placeholder {
      color: #ccc;
    }
  }
}

.views-exposed-form {
  .views-exposed-widget {
    padding: 0;
    margin: 10px 20px 20px 0;
    label {
      @include font-size(12px);
    }
    .form-submit {
      margin: 5px 0 0 0;
    }
  }
  .views-submit-button {
    margin-top: 10px;
  }
  .views-reset-button {
    margin-top: 10px;
  }
}

.views-exposed-widget {

  .form-item {
    .description {
      display: none;
    }
  }

  select,
  input[type=text],
  a.chosen-single {
    width: 100%;
    max-width: 100%;
  }

  // @include breakpoint($m) {
  //   @include gallery(3);
  // }

  .l-sidebar-first & {
    clear: both;
    margin: 20px 0;
  }
}

.views-exposed-form {
  label {
    font-weight: normal;
  }
}

// Selects lists
//----------------------
.chosen-container {
  min-width: 202px;
  max-width: 348px;
  .chosen-single {
    min-height: 20px;
    height: 20px !important;
    background-color: white !important;
    border-radius: 2px !important;
    border: 1px solid $gray !important;
    background: none !important;
    box-shadow: none !important;
    font-size: 11px;
    font-weight: 400;
    text-align: left;
    color: $gray !important;
    line-height: 20px !important;
    div {
      margin-top: -2px;
    }
  }
  .chosen-drop {
    min-width: 202px;
    max-width: 348px;
    font-size: 11px;
    .chosen-results {
      li.highlighted {
        background-color: #f2f2f2;
        background-image: none;
        color: #4d4d4d;
      }
    }
  }
}

.chosen-container-active {
  .chosen-single {
    border: 1px solid $gray;
  }
}

select.form-select {
  @include bg-img(icons/nav/accordion_arrow2, 11px);
  background-repeat: no-repeat;
  background-position: 98% 5px;
  appearance: none;
  min-width: 202px;
  max-width: 348px;
  height: 20px;
  border: 1px solid $gray;
  border-radius: 2px;
  background-color: white;
  font-size: 11px;
  font-weight: 400;
  line-height: 20px;
  font-size: 11px;
  text-align: left;
  color: $gray;
  padding: 0 0 0 8px;
  .description {
    display: none;
  }
}
