////
/// Icons
/// @group Variables
////

// Icons (Fontello)
//----------------------------------------------
$icons: (
  contact:            "\e800",
  email:              "\e801",
  fax:                "\e802",
  phone:              "\e803",
  web:                "\e804",
  date-time:          "\e805",
  date:               "\e806",
  eye:                "\e807",
  info:               "\e808",
  link:               "\e809",
  network:            "\e80a",
  news-link:          "\e80b",
  news:               "\e80c",
  star:               "\e80d",
  time:               "\e80e",
  arrivalpoint:       "\e80f",
  location:           "\e810",
  locationthick:      "\e811",
  map:                "\e812",
  startingpoint:      "\e813",
  books:              "\e814",
  directory:          "\e815",
  document:           "\e816",
  documentthick:      "\e817",
  download:           "\e818",
  file:               "\e819",
  filelaw:            "\e81a",
  headphones:         "\e81b",
  headset:            "\e81c",
  pause:              "\e81d",
  pdf:                "\e81e",
  play:               "\e81f",
  videos:             "\e820",
  a_minus:            "\e821",
  a_minusthick:       "\e822",
  a_more:             "\e823",
  a_morethick:        "\e824",
  accordion_arrow:    "\e825",
  accordion_arrow2:   "\e826",
  breadcrumb_arrow:   "\e827",
  breadcrumb:         "\e828",
  carousel_arrow1:    "\e829",
  carousel_arrow2:    "\e82a",
  cloud:              "\e82b",
  dropdown_minus:     "\e82c",
  dropdown_more:      "\e82d",
  drupalusers:        "\e82e",
  menu_arrow:         "\e82f",
  menu_lateral:       "\e830",
  more:               "\e831",
  nav_close:          "\e832",
  nav:                "\e833",
  navigation:         "\e834",
  search:             "\e835",
  graduation:         "\e836",
  integration:        "\e837",
  laptop:             "\e838",
  lock_privacity:     "\e839",
  lock:               "\e83a",
  medal:              "\e83b",
  mobile:             "\e83c",
  school:             "\e83d",
  speaker:            "\e83e",
  tour:               "\e83f",
  trophy:             "\e840",
  webwindow:          "\e841",
  world:              "\e842",
  ambulance:          "\e843",
  bank:               "\e844",
  bicycle:            "\e845",
  bus:                "\e846",
  cashier:            "\e847",
  fare:               "\e848",
  food:               "\e849",
  train:              "\e84a",
  facebook:           "\e84b",
  facebookfooter:     "\e84c",
  foursquarefooter:   "\e84d",
  google:             "\e84e",
  googleplusfooter:   "\e84f",
  twitterfooter:      "\e850",
  youtubefooter:      "\e851"
);
