.l-featured {
  width: 100%;
  clear: both;
}
@media (min-width:960px) {
  .l-sidebar-first {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%;
  }
  .l-main-content {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%
  }
  .l-sidebar-second {
    width: 23.72881%;
    float: right;
    margin-right: 0;
  }
}
