
.icon-foursquare:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\f002'; } /* '' */
.icon-user:before { content: '\f007'; } /* '' */
.icon-home:before { content: '\f015'; } /* '' */
.icon-time:before { content: '\f017'; } /* '' */
.icon-download:before { content: '\f019'; } /* '' */
.icon-tags:before { content: '\f02c'; } /* '' */
.icon-camera:before { content: '\f030'; } /* '' */
.icon-marker:before { content: '\f041'; } /* '' */
.icon-date:before { content: '\f073'; } /* '' */
.icon-comment:before { content: '\f075'; } /* '' */
.icon-link:before { content: '\f08e'; } /* '' */
.icon-phone:before { content: '\f095'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-rss:before { content: '\f09e'; } /* '' */
.icon-attach:before { content: '\f0c6'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-mail:before { content: '\f0e0'; } /* '' */
.icon-left:before { content: '\f104'; } /* '' */
.icon-right:before { content: '\f105'; } /* '' */
.icon-up:before { content: '\f106'; } /* '' */
.icon-down:before { content: '\f107'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-video:before { content: '\f16a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-fax:before { content: '\f1ac'; } /* '' */
.icon-share:before { content: '\f1e0'; } /* '' */
.icon-vimeo:before { content: '\f27d'; } /* '' */